.label {
	-fx-font-family : "Roboto";
	-fx-font-color  : rgb(33, 33, 33);
	-fx-font-size   : 16px;
}

.anchor-pane {
	-fx-background-color : #ffffff;
	-fx-background-image : url("../images/images.jpg");
}

.button {
	-fx-padding           : 5 22 5 22;
	-fx-border-color      : #e2e2e2;
	-fx-background-radius : 0;
	-fx-background-color  : #1d1d1d;
	-fx-font-family       : "Roboto";
	-fx-font-size         : 11pt;
	-fx-text-fill         : #d8d8d8;
}

.button:hover {
	-fx-background-color : #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
	-fx-background-color : white;
	-fx-text-fill        : #1d1d1d;
}

.button:focused {
	-fx-border-color  : white, white;
	-fx-border-width  : 1, 2;
	-fx-border-radius : 0, 0;
	-fx-border-insets : 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
	-fx-opacity          : 0.4;
	-fx-background-color : #1d1d1d;
	-fx-text-fill        : white;
}

.button:default {
	-fx-background-color : #008287;
	-fx-text-fill        : #ffffff;
}

.button:default:hover {
	-fx-background-color : #219297;
}

.text-input {
	-fx-background-radius   : 0, 0;
	
	-fx-background-color    : #d2d2d2;
	-fx-background-insets   : 0;
	
	-fx-prompt-text-fill    : #818181;
	
	-fx-highlight-fill      : #008287; /* TODO: this probably is the "active" color" */
	-fx-highlight-text-fill : white;
}

.text-input:hover {
	-fx-background-color : #e2e2e2;
}

.text-input:focused {
	-fx-background-color : #5c5c5c, white;
	
	-fx-text-fill        : black;
}

/*.text-input > Pane{*/
/*-fx-padding: 0.333333em 0.583em 0.333333em 0em; *//* 4 7 4 0 */
/*}*/

.text-input > .right-button {
	-fx-cursor            : default;
	
	-fx-background-insets : -0.1666665em -0.45em -0.1666665em -0.45em; /* 4 7 4 7 -> this values are subtracted by 2px in em because of the border of the textfield */
}

.text-field > .right-button > .right-button-graphic {
	-fx-shape            : "M221.738,305.873l6.135,6.16l-2.875,2.863l-6.135-6.159l-6.263,6.237l-2.864-2.875l6.263-6.238l-6.177-6.202l2.875-2.863l6.177,6.201l6.244-6.22l2.864,2.876L221.738,305.873z";
	
	-fx-padding          : 0.5em 0.5em; /* TODO: put the real number here 18 18 */
	-fx-background-color : black;
}

.text-input > .right-button:hover {
	-fx-background-color : #dedede;
}

.text-input > .right-button:pressed {
	-fx-background-color : black;
}

.text-input > .right-button:pressed > .right-button-graphic {
	-fx-background-color : white;
}

.text-input:disabled {
	-fx-opacity           : 1;
	-fx-background-insets : 0, 2;
	-fx-background-color  : #777777, #1d1d1d;
	-fx-text-fill         : #616161;
}

.tutors-label {
	-fx-font-size : 25px;
}

.tab-pane .tab-header-area .tab-header-background {
	-fx-opacity : 0;
}

.tab-pane {
	-fx-tab-min-width : 90px;
}

.tab {
	-fx-background-insets : 0 1 0 1, 0, 0;
}

.tab-pane .tab {
	-fx-background-color : #e6e6e6;
	
}

.tab-pane .tab:selected {
	-fx-background-color : #1d1d1d;
}

.tab .tab-label {
	-fx-alignment : CENTER;
	-fx-text-fill : #1d1d1d;
	-fx-font-size : 12px;
}

.tab:selected .tab-label {
	-fx-alignment        : CENTER;
	-fx-background-color : #1d1d1d;
	-fx-text-fill        : #ffffff;
}

.video-list-node-name-label {
	-fx-font-size : 20px;
}
